#about:hover{
font-weight:bold;
}
#portfolio:hover{
font-weight:bold;
}
.contact:hover{
font-weight:bold;
}


.logofoot{
-webkit-animation: mysecond 0.5s infinite linear; /* Chrome, Safari, Opera */
    animation: mysecond 0.5s infinite linear;
	cursor:pointer;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mysecond {
        0% {transform: rotate(0deg);}
    
	100%{transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes mysecond {
     0% {transform: rotate(0deg);}
    
	100%{transform: rotate(360deg);}
	}
	
	#logoheader:hover{
 -webkit-animation: myfirst 0.35s infinite linear ; /* Chrome, Safari, Opera */
    animation: myfirst 0.35s infinite linear;
	cursor:pointer;


}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
         0% {transform: rotate(0deg);}
    
	100%{transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes myfirst {
     0% {transform: rotate(0deg);}
    
	100%{transform: rotate(360deg);}
	}
	
	
	
	
.hireme:hover{
cursor:pointer;
-webkit-animation: mythird 0.2s linear forwards; /* Chrome, Safari, Opera */
    animation: mythird 0.2s linear forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mythird {
        0% {transform: scale(1,1);}
    
	100%{transform: scale(1.07,1.07);}
}
/* Standard syntax */
@keyframes mythird {
     0% {transform: scale(1,1);}
    
	100%{transform: scale(1.07,1.07);}
	}
	
	#hireme2:hover{
cursor:pointer;
-webkit-animation: mythird 0.2s linear forwards; /* Chrome, Safari, Opera */
    animation: mythird 0.2s linear forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mythird {
        0% {transform: scale(1,1);}
    
	100%{transform: scale(1.07,1.07);}
}
/* Standard syntax */
@keyframes mythird {
     0% {transform: scale(1,1);}
    
	100%{transform: scale(1.07,1.07);}
	}
	
	/**/
	
	.pic img {
  display: block;
  width: 100%;
  height: auto;
}

.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: all .5s linear;
  
}

 a:hover .cover {
  background-color: rgba(208,43,43,.95);
  
  transition: all .3s linear;
}

a:hover .headimage2 {
  
  color: rgba(255,255,255,0.88);
  transition: all .2s linear;
}
a:hover .lowimage2 {
  
  color: rgba(255,255,255,0.88);
  transition: all .2s linear;
}

a:hover .headimage1 {
  
  color: rgba(255,255,255,0.88);
  transition: all .2s linear;
}
a:hover .lowimage1 {
  
  color: rgba(255,255,255,0.88);
  transition: all .2s linear;
}

a:hover .headimage3 {
  
  color: rgba(255,255,255,0.88);
  transition: all .2s linear;
}
a:hover .lowimage3 {
  
  color: rgba(255,255,255,0.88);
  transition: all .2s linear;
}
a:hover .headimage4 {
  
  color: rgba(255,255,255,0.88);
  transition: all .2s linear;
}
a:hover .lowimage4 {
  
  color: rgba(255,255,255,0.88);
  transition: all .2s linear;
}


a:hover #pic99{
display:block;
transition: all .2s linear;
}